---
import Welcome from "../components/Welcome.astro"
import Layout from "../layouts/Layout.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1 class="text-2">Hi, I'm Paulina</h1>
	<div class="prose">
		<p>
			I'm on a journey to become a front-end web developer. I love building
			little projects, trying out new coding techniques, and sharing what I
			learn along the way. When I'm not at my desk, you'll find me reading,
			hiking through the mountains, or challenging myself on rock-climbing
			walls.
		</p>
		<p>
			I started this blog to document my progress, keep myself accountable, and
			hopefully inspire anyone else who's learning to code. Welcome to my corner
			of the internet, and thanks for stopping by!
		</p>
	</div>
</Layout>
