---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
	<section class="section">
		<h1
			class="text-2 mb-6 bg-gradient-to-t from-blue-500 from-25% to-transparent to-25% inline">
			Newsletter
		</h1>
	</section>
</Layout>
