---
import { getCollection } from "astro:content"
import Layout from "@/layouts/Layout.astro"
import { format } from "date-fns"
const posts = await getCollection("posts")
---

<Layout>
	<section class="section">
		<div class="border-b border-neutral-200 mb-5">
			<div class="flex items-baseline gap-2 mb-2">
				<h1 class="text-2">My Articles</h1>
				<div class="w-10 h-[3px] bg-blue-500"></div>
			</div>
			<div class="mb-6">
				<p>
					Below are all my recent blog posts. Click on any title to read the
					full article.
				</p>
			</div>
		</div>
		<ul class="space-y-6 divide-neutral-200 divide-y">
			{
				posts.map((post) => (
					<li>
						<a href={`/blog/${post.data.slug}`} class="text-5 mb-2 block">
							{post.data.title}
						</a>
						<div class="text-8 italic mb-2">
							{format(post.data.publishedAt, "MMMM dd, yyyy")}
						</div>
						<p class="pb-5">{post.data.description}</p>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
