---
import VueResultsSummaryComponent from "../components/ResultsSummaryComponent.vue"
---

<main>
	<div class="bg-[#ECF2FF] h-screen w-full flex items-center justify-center">
		<VueResultsSummaryComponent />
	</div>
</main>
