---
import "@/styles/global.css"
import Navbar from "@/components/Navbar.astro"
import Footer from "@/components/Footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-[#FBF9F7]">
		<div class="container">
			<Navbar />
			<div class="px-2.5 mx-2 border-r border-l border-neutral-200">
				<slot />
				<Footer />
			</div>
		</div>
	</body>
</html>
