---
import "@/styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-[#FBF9F7]">
		<div class="container">
			<nav
				class="border border-neutral-200 p-[6px] flex justify-between rounded-[10px] bg-white">
				<div class="w-10 h-10 rounded-[10px] bg-blue-300"></div>
				<div class="flex gap-5 items-center">
					<ul class="flex gap-6 items-center">
						<li>Home</li>
						<li>Blog</li>
						<li>About</li>
						<li>Newsletter</li>
					</ul>
					<button
						class="flex justify-center items-center w-10 h-10 rounded-lg border border-neutral-200 bg-neutral-100">
						X
					</button>
				</div>
			</nav>
			<div class="px-2.5 mx-2 border-r border-l border-neutral-200">
				<slot />
			</div>
		</div>
	</body>
</html>
